<!-- Beginning attributeSetDetails view definition -->
<%
///// NOTE:  on the server, EJS uses < %- to return unescaped strings
/////        on the client  EJS uses < %== 
// This is CLIENT SIDE, so let's make displaying labels easier:
// use: < %==  L('[labelKey]') % >   // note there is no ';' at the end!
var L = function(key) { return AD.Lang.Labels.getLabelHTML(key); };

//// Alternativly you can add these attributes:
//   appdTitleKey="[label.key]"  for elements that have a title and you want 
//                               the contents to be multilingual
//   appLabelKey="[label.key]"   for elements whose contents (el.html()) 
//                               should be the multilingual info
%>
<form class='form-horizontal'>
    <fieldset>
    <legend></legend>
    <div class='control-group'>
        <label class='control-label' for='attributeset_table'><%== L('[details.attributeset.label.attributeset_table]') %></label>
        <div class='controls'>
            <input type="text" data-bind="attributeset_table" disabled/>
            <i>Would we ever want to edit this?</i>
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='attributeset_pkey'><%== L('[details.attributeset.label.attributeset_pkey]') %></label>
        <div class='controls'>
            <input type="text" data-bind="attributeset_pkey" disabled/>
            <i>Would we ever want to edit this?</i>
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='attributeset_label'><%== L('[details.label.label]') %></label>
        <div class='controls'>
            <input type="text" data-bind="attributeset_label" />
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='attributeset_key'><%== L('[details.attributeset.label.attributeset_key]') %></label>
        <div class='controls'>
            <input type="text" data-bind="attributeset_key"/>
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='type_id'><%== L('[details.attributeset.label.type_id]') %></label>
        <div class='controls'>
            <input type="text" data-bind="type_id" />
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='attributeset_relation'><%== L('[details.attributeset.label.attributeset_relation]') %></label>
        <div class='controls'>
            <select class="selectpicker" data-bind="attributeset_relation">
                <option>one</option>
                <option>many</option>
                <!-- TODO: Add more options? -->
            </select>
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='attributeset_uniqueKey'><%== L('[details.attributeset.label.attributeset_uniqueKey]') %></label>
        <div class='controls'>
            <input type="checkbox" data-bind="attributeset_uniqueKey" />
        </div>
    </div>
    <div class='form-actions'>
        <button type="button" class='btn btn-primary submit'><%== L( '[details.label.save]' ) %></button>
        <button type="button" class='btn cancel'><%== L( '[details.label.cancel]' ) %></button>
    </div>
    </fieldset>
</form>
